<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/" id="logo-link">
                    <img src="/assets/imgs/logo.jpg" alt="EduSign" class="logo-img">
                    <span class="logo-text">EduSign</span>
                </a>
            </div>

            <nav class="main-nav" id="main-navigation">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link" id="nav-home">Home</a></li>
                    <li class="nav-item"><a href="/tutorials" class="nav-link" id="nav-tutorials">Tutorials</a></li>
                     <!-- <li class="nav-item"><a href="/community" class="nav-link" id="nav-translator">Community</a> -->
                    </li>
                    <li class="nav-item"><a href="/about-us" class="nav-link" id="nav-resources">About-Us</a></li>
                    
                </ul>
            </nav>

            <div class="user-menu" id="user-menu">
                <a href="/login" class="btn login-btn" id="login-btn"  style="color: rgb(112, 157, 215); font-size: 19px;">Log In</a>
            </div>
            <!-- This will be shown when user is logged in (handled by JS) -->

</header>